.ICEauthority
.Xauthority
.atom/**
.cache/**
.codeblocks/**
.config/**
.dbus/**
.dd/**
.drobox/**
.dropbox-dist/**
.eclipse/**
.emacs.d
.fontconfig/**
.gconf/**
.local/**
.mozilla/**
.parallels/**
.pki/**
Desktop/**
Documents/**
Downloads/**
Music/**

\.gitkraken/
